.App {
  width: 100vw;
  height: 100vh;
}

body{
    margin:0;
    padding:0;
}

.Baner {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color:aquamarine;
}

.Navigation {
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.NavRow {
   display: flex;
   justify-content: start;
   align-items: center;
   padding: 8px 0px 8px 16px;
   list-style: none;
   height: 60px;
}

.NavRow a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.NavRow a:hover {
    background-color: red;
}

.NavMenu {
    width:100%;
}

.Maincontent{
    display: flex;
    height: 90vh;
}